{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    {% comment %} <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="style.css"> {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400;500;600&family=Fjalla+One&family=Mogra&family=Smokum&family=Zeyada&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/7efa8f7654.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styleservice.css' %}">

</head>
<body>

    <!-- header section thats means navigation start -->

   

    <main>
        <div class="service-main-section">

            <div class="services-section-img">

                <div class="service-heading">
                    <h2>We believe the heart of healthcare is service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit pariatur blanditiis reprehenderit, quo facere.</p>
                </div>

            </div>

        </div>
    </main>
    
    <!-- our service list start -->

    <div class="our-services">
        <div class="our-service-heading">
            <h1>Our Services</h1>
        </div>
        <ol>
            <li style="--accent-color:#0D6EFD">
                <div class="icon"></div>
                <div class="title">Physical therapy</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
            </li>
            <li style="--accent-color:#6710F5">
                <div class="icon"></div>
                <div class="title">General Surgery</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            </li>
            <li style="--accent-color:#6F42C1">
                <div class="icon"></div>
                <div class="title">Diagnosis</div>
                <div class="descr">Lorem ipsum dolor. Lorem ipsum dolor sit amet.</div>
            </li>
            <li style="--accent-color:#D63384">
                <div class="icon"><i class="fa-solid fa-tooth"></i></div>
                <div class="title">Dentistry</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam odio alias.</div>
            </li>
            <li style="--accent-color:#DC3545">
                <div class="icon"><i class="fa-brands fa-github"></i></div>
                <div class="title">Mental Healt Care</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            </li>



            <li style="--accent-color:#6F42C1">
                <div class="icon"></div>
                <div class="title">Pediatrics</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
            </li>

            <li style="--accent-color:#DC3545">
                <div class="icon"></div>
                <div class="title">Nursing</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
            </li>
            <li style="--accent-color:#0D6EFD">
                <div class="icon"></div>
                <div class="title">Hospital Pharmacist</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
            </li>
            <li style="--accent-color:#6F42C1">
                <div class="icon"></div>
                <div class="title">Hospital System</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
            </li>
            <li style="--accent-color:#6710F5">
                <div class="icon"></div>
                <div class="title">Legal Services</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
            </li>
        </ol>
    </div>

    <div class="services-contanier">
        <div class="services-con-heading">
            <h1>A True Devotion to Healing</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab maxime eos vel aspernatur et optio consequatur facilis nam voluptatem.</p>

        </div>
        <div class="services-con">
            <div class="services-con-card">
                <i class="fa-solid fa-laptop-medical"></i>
                <h2>24 Hours Emergency</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, lasperiores doloribus ducimus eligendi quibusdam, quisquam, excepturi suscipit minima eos.</p>
            </div>

            <div class="services-con-card">
                <i class="fa-solid fa-truck-medical"></i>
                <h2>Quick Examination</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, asperiores doloribus ducimus eligendi quibusdam, quisquam, excepturi suscipit minima eos.</p>
            </div>
            <div class="services-con-card">
                <i class="fa-solid fa-laptop-medical"></i>
                <h2>Child Care</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, asperiores doloribus ducimus eligendi quibusdam, quisquam, excepturi suscipit minima eos.</p>
            </div>
            <div class="services-con-card">
                <i class="fa-solid fa-laptop-medical"></i>
                <h2>24 Hours Emergency</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, asperiores doloribus ducimus eligendi quibusdam, quisquam, excepturi suscipit minima eos.</p>
            </div>
            <div class="services-con-card">
                <i class="fa-solid fa-laptop-medical"></i>
                <h2>24 Hours Emergency</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, asperiores doloribus ducimus eligendi quibusdam, quisquam, excepturi suscipit minima eos.</p>
            </div>
            <div class="services-con-card">
                <i class="fa-solid fa-laptop-medical"></i>
                <h2>24 Hours Emergency</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, asperiores doloribus ducimus eligendi quibusdam, quisquam, excepturi suscipit minima eos.</p>
            </div>
        </div>
    </div>

    <div class="consultation">
        <div class="consultation-left">
            <h1>Are you ready for a consultation?</h1>
            <h4>Your treatment will be performed by licensed therapist. Schedule your appointment now!</h4>

        </div>
        <div class="consultatiomn-right">
            <h2>Contact Us Today</h2>
        </div>
    </div>


    <div class="contanier">
        <div class="contanier-diag">
            <h2>Imaging And Diagostic Services</h2>
        </div>
        <div class="elements">
            <div class="element current">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Open MRI</h2>

            </div>
            <div class="element">
            
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Digital X-Ray</h2>

            </div>
            <div class="element">
                
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Uroflometry</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Spironmetry</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>ETT</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Endoscopy</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Colonoscopy</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Real Time PCR</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Portable X-Ray</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Endoscopy</h2>

            </div>
            <div class="element">
                <i class="fa-solid fa-fire-flame-simple"></i>
                <h2>Endoscopy</h2>

            </div>
        </div>
    </div>


    <!-- footer section start here -->

    {% comment %} <footer>
        <div class="last">
            <div class="last-part">
                <div class="last-info">
                    <p class="last-text">44, Big Building Roosevelt Street</p>
                    <p class="last-text2">Beach Gardens Florida 33410</p>
                </div>

                <div class="last-content">
                    <div class="last-content1">
                        <img class="last-image" src="images/Call.png" alt="">
                        <p>+00 123 584 124</p>
                    </div>
                    <div class="last-content1">
                        <img class="last-image2" src="images/Website.png" alt="">
                        <p>www.website.com</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="icon">
                <img class="i-im" src="images/Facebook.png" alt="">
                <img class="i-im" src="images/Instagram.png" alt="">
                <img class="i-im" src="images/Twitter.png" alt="">
            </div>
            <hr>
            <div class="few">
                <small>2017, All Rights Reserved</small>
                <p>Unsubscribe</p>
            </div>
        </div>

    </footer> {% endcomment %}

    <!-- foooter section end here -->
    <script src="static/js/script.js"></script>

    {% endblock %}
</body>
</html>